$fontcolor:  black;
$backgroundcolor: white;


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}

#logo {
  display: flex;
  padding-left: 350px;
}

#search-bar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

#video-section {
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;
  }

  li:hover {
    background: darken( $backgroundcolor, 30% );
    color: blue;
  }

}

#title {
  font-size: 30px;
}
#description {
  font: 20px;
}
