$fontcolor:  black;
$backgroundcolor: lightgrey;


body {
  font-family: "Cinzel", serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}


#search-bar {
  margin-bottom: 40px;

  input {
    font-size: 2em;
    border-radius: .25em;
    border-color: black;
  }
}

#title {
  font-size: 30px;
}
#description {
  font: 20px;
}

#video-section {
  display: flex;

  li {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    cursor: pointer;
    width: 500vw;
    padding: 10px;
  }
  li:hover {
    background: darken( $backgroundcolor, 20% );
    color: white;
  }

}
